* {
  justify-content: center;
}
.students img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.students table tr {
  vertical-align: middle;
}
