* {
  margin-top: 0;
  padding: 0;
  justify-content: center;
}
.students img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.students table tr {
  vertical-align: middle;
  text-align: center;
}

.student-data {
  text-align: center;
}
.student-data img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}
button.createbtn {
  margin-top: 50px;
}
